{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
	{{ super() }}
	<style type="text/css">
		.welcome { color: #336699; }
	</style>
{% endblock %}
{% block content %}
	<h1>Metal Repo</h1>
	<p class="welcome">
		This is Metal Repo
	</p>
	<br><br>

	<form method="POST" action="{{ url_for("add_band") }}">
		<fieldset>
			<legend>Band register</legend>
			<div id="form-field">
				<label for="band_name">Name</label><br>
				<input type="text" name="band_name">
			</div> <br>

			<div id="form-field">
				<label for="band_country">Origin country</label><br>
				<select name="band_country">
					<option value="Brazil">Brazil</option>
					<option value="Mexico">Mexico</option>
				</select>
			</div> <br>

			<div id="form-field">
				<label for="band_genre">Genre</label><br>
				<select name="band_genre">
					<option value="Power Metal">Power Metal</option>
					<option value="Progressive Metal">Progressive Metal</option>
				</select>
			</div> <br>

			<div id="form-field">
				<label for="band_status">Band status</label><br>
				<select name="band_status">
					<option value="Active">Active</option>
					<option value="Split-up">Split-up</option>
				</select>
			</div> <br>

			<input type="submit" value="Add band">
		</fieldset>
	</form>

	<br><br>

	<table>
		<thead>
			<tr>
				<th scope="col">Band name</th>
				<th scope="col">Origin country</th>
				<th scope="col">Genre</th>
				<th scope="col">Status</th>
			</tr>
		</thead>

		<tbody>
			{% for band in bands %}
				<tr>
					<th scope="row">{{ band["nmband"] }}</th>
					<td>{{ band["nmcountry"]}}</td>
					<td>genre placeholder</td>
					<td>{{ band["fgstatus"] }}</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>
{% endblock %}
